/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;

}

.header__links-list {
    display: flex;
    gap: 31px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    width: 148px;
    height: 105px;
    padding: 2px 12px 7px 11px;
}

.header__logo-link {
    display: block;
}

.address {
    font-style: "Raleway";
    font-size: 18px;
    line-height: 24px;
    max-width: 240px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.cover {
    margin-bottom: 184px;
    background-image: url("../images/cover.jpg");
    min-height: 757px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: -120px;
    z-index: -2;
    padding: 165px 50px 50px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,50%);
}

.cover__title {
    font-family: "Raleway";
    line-height: 1.15;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.3em;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 106px;
    justify-content: space-evenly;
}

.aligned-text {
    display: block;
}
.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    line-height: 28px;
    word-spacing: 0.8em;
}

.letter-spacing-extended {
    word-spacing: 0.9em;
}

.no-letter-spacing {
    word-spacing: 0;
}
.bet-button {
    padding: 12px 32px 11px 31px;
    border: 1px solid #fff;
    font-family: "Raleway";
    font-weight: 500;
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
    background-color: transparent;
}

.lots {
    padding: 0 24px;
    margin-bottom: 120px;
}

.lots__card-list {
    font-family: "Raleway";
    color: #fff;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-lot-1 {
    background: url("../images/card-lot-01.jpg");
}

.card-lot-2 {
    background: url("../images/card-lot-02.jpg");
}

.card-lot-3 {
    background: url("../images/card-lot-03.jpg");
}

.about {
    padding: 0 24px;
    margin-bottom: 180px;
}

.footer {
    padding: 0 50px 82px;
}