.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  border-bottom: 1px #000 solid;
  align-items: flex-start;
}

.header__link_active {
  border-bottom: none;
}

.header__logo-link {
  display: block;
}

.header__logo {
  width: 148px;
  height: 105px;
  padding: 0 5px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  max-width: 240px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
}

.cover {
  margin-bottom: 178px;
  background-image: url("../images/cover.jpg");
  min-height: 757px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 50%);
}

.cover__title {
  font-family: "Raleway";
  line-height: 1.15;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.3em;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 106px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aligned-text {
  display: block;
}
.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-family: "Raleway";
  font-size: 22px;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  line-height: 28px;
  word-spacing: 19px;
}

.letter-spacing-extended {
  letter-spacing: 23px;
}

.no-letter-spacing {
  letter-spacing: 0;
}
.bet-button {
  padding: 10px 30px 13px;
  border: 1px solid #fff;
  font-family: "Raleway";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  background-color: transparent;
}

.lots {
  padding: 0 24px;
  margin-bottom: 120px;
}

.lots__heading {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: bold;
  color: #000;
  margin-bottom: 29px;
  margin-left: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  font-family: "Raleway";
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
}

.card {
  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: -2;
}

.card__title {
  font-family: "Raleway";
  font-size: 22px;
  line-height: 1.2;
  word-spacing: 0;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 1.2;
  word-spacing: 0;
  font-weight: normal;
  color: #fff;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.about {
  padding: 0 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  padding: 64px 42px 62px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.about__column {
  padding: 133px 25px 0px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 180px;
}

.about__title {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: bold;
  color: #000;
  margin-top: 3px;
  text-transform: uppercase;
}

.about__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;

  color: #000000;

  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-wrap: wrap;
}
.about__logo-image {
  display: block;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: start;
  max-width: 242px;
}

.footer__links-list-item_no-bullit {
  list-style: none;
}

.footer__menu {
  justify-content: center;
  align-items: center;
}

.footer__menu-list-item {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  list-style: none;
  color: #000000;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
